.b {
    background-color: #fff;
}

.h {
    background-color: #C0C0C0;
}

.sel {
    background-color: #C0C0C0;
    opacity: 1;
    color: #000;
}

.se {
    background-color: #fff;
    opacity: 1;
    color: #000;
}

.txt {
    color: #000;
}

h1, h2, h3, h4, h5, h6 {
    color: black;
}

p, span, small {
    color: #888;
}


hr {
    margin: 20px;
    background-color: #eaeaea;
}
