.b {
	background-color: #1a1a1a;
	color: #fff;
}

.h {
	background-color: #000;
}

.sel {
	background-color: #101010;
	opacity: 1;
	color: #fff;
}

.se {
	background-color: #1a1a1a;
	opacity: 1;
	color: #fff;
}

.txt {
	color: #fff;
}

h1, h2, h3, h4, h5, h6{
	color: black;
}

p, span, small{
	color: #888;
}


hr{
	margin: 20px;
	background-color: #eaeaea;
}