.u-section-1 {
  min-height: 795px;
}

.u-section-1 .u-custom-html-1 {
  min-height: 660px;
  animation-duration: 1000ms;
  height: auto;
  margin: 0;
}

.u-section-1 .u-custom-html-2 {
  min-height: 20px;
  height: auto;
  margin: 115px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 796px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-custom-html-2 {
    margin-bottom: 1px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 967px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-top: 227px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-custom-html-2 {
    margin-top: -114px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 1783px;
  }

  .u-section-1 .u-custom-html-1 {
    min-height: 1222px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-custom-html-2 {
    margin-top: 542px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }
}@font-face {
  font-family: 'calibri-bold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/calibri-bold.ttf);
}@font-face {
  font-family: 'calibri-regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/calibri-regular.ttf);
}