.u-section-1 {
  background-image: none;
  min-height: 733px;
}

.u-section-1 .u-video-1 {
  height: 731px;
  margin-top: 0;
  margin-bottom: 2px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 586px;
  }

  .u-section-1 .u-video-1 {
    height: 585px;
    margin-bottom: 1px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 461px;
  }

  .u-section-1 .u-video-1 {
    height: 461px;
    margin-bottom: 2px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 361px;
  }

  .u-section-1 .u-video-1 {
    height: 360px;
    margin-bottom: 1px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 249px;
  }

  .u-section-1 .u-video-1 {
    height: 247px;
    margin-bottom: 2px;
  }
}@font-face {
  font-family: 'calibri-bold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/calibri-bold.ttf);
}@font-face {
  font-family: 'calibri-regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/calibri-regular.ttf);
}