.u-section-1 {
  min-height: 100vh;
}

.u-section-1 .u-slider-1 {
  min-height: 703px;
  margin-top: 1px;
  margin-bottom: 1px;
  height: auto;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-1 .u-image-1 {
  background-image: url("images/no_news1.png");
}

.u-section-1 .u-container-layout-1 {
  padding: 0 50px 0 0;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  margin: 51px 28px 0 581px;
}

.u-section-1 .u-image-2 {
  width: 487px;
  height: 463px;
  margin: -103px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: -340px 28px 0 581px;
}

.u-section-1 .u-image-3 {
  background-image: url("images/no_news1.png");
}

.u-section-1 .u-container-layout-2 {
  padding: 0 50px 0 0;
}

.u-section-1 .u-text-3 {
  font-weight: 900;
  margin: 51px 28px 0 581px;
}

.u-section-1 .u-image-4 {
  width: 487px;
  height: 463px;
  margin: -103px auto 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  margin: -340px 28px 0 581px;
}

.u-section-1 .u-carousel-control-1 {
  width: 50px;
  height: 50px;
}

.u-section-1 .u-carousel-control-2 {
  width: 50px;
  height: 50px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-slider-1 {
    min-height: 705px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: 280px;
    margin-left: 409px;
  }

  .u-section-1 .u-image-2 {
    width: 383px;
    height: 365px;
    margin-top: -155px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -190px;
    margin-right: 0;
    margin-left: 409px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 280px;
    margin-left: 409px;
  }

  .u-section-1 .u-image-4 {
    width: 383px;
    height: 365px;
    margin-top: -155px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -190px;
    margin-right: 0;
    margin-left: 409px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 205px;
    margin-left: 251px;
  }

  .u-section-1 .u-image-2 {
    width: 211px;
    height: 201px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -26px;
    margin-right: 51px;
    margin-left: 251px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 205px;
    margin-left: 251px;
  }

  .u-section-1 .u-image-4 {
    width: 211px;
    height: 201px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -26px;
    margin-right: 51px;
    margin-left: 251px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 426px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 621px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 175px;
    margin-right: 165px;
    margin-left: 51px;
  }

  .u-section-1 .u-image-2 {
    width: 172px;
    height: 164px;
    margin-top: -227px;
    margin-left: -7px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 74px;
    margin-right: 183px;
    margin-left: 51px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 175px;
    margin-right: 165px;
    margin-left: 51px;
  }

  .u-section-1 .u-image-4 {
    width: 172px;
    height: 164px;
    margin-top: -227px;
    margin-left: -7px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 74px;
    margin-right: 183px;
    margin-left: 51px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-top: 294px;
    margin-right: 86px;
    margin-left: 34px;
  }

  .u-section-1 .u-image-2 {
    width: 248px;
    height: 236px;
    margin-top: -325px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 89px;
    margin-right: 8px;
    margin-left: 50px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 294px;
    margin-right: 86px;
    margin-left: 34px;
  }

  .u-section-1 .u-image-4 {
    width: 248px;
    height: 236px;
    margin-top: -325px;
    margin-left: auto;
  }

  .u-section-1 .u-text-4 {
    margin-top: 89px;
    margin-right: 8px;
    margin-left: 50px;
  }
}