.b {
    background-color: #36393f;
}

.h {
    background-color: #202225;
}

.sel {
    background-color: #292b2f;
    opacity: 1;
    color: #fff;
}

.se {
    background-color: #36393f;
    opacity: 1;
    color: #fff;
}

.txt {
    color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    color: black;
}

p, span, small {
    color: #888;
}


hr {
    margin: 20px;
    background-color: #eaeaea;
}
