.u-section-1 {
  background-image: none;
  min-height: 3514px;
}

.u-section-1 .u-shape-1 {
  margin-left: 0;
  margin-right: auto;
}

.u-section-1 .u-shape-2 {
  background-image: none;
  height: 111px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-image-1 {
  width: 46px;
  height: 46px;
  animation-duration: 1000ms;
  margin: -111px 0 0 auto;
}

.u-section-1 .u-custom-html-1 {
  min-height: 22px;
  width: 1254px;
  height: auto;
  margin: -46px calc(((100% - 1140px) / 2) + -34px) 0 0;
}

.u-section-1 .u-tabs-1 {
  min-height: 1394px;
  height: auto;
  margin: 31px auto 0 0;
}

.u-section-1 .u-tab-link-1 {
  font-size: 1.125rem;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-group-1 {
  width: 1286px;
  min-height: 1119px;
  animation-duration: 1000ms;
  height: auto;
  margin: 7px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 15px 295px 0 61px;
}

.u-section-1 .u-custom-html-2 {
  min-height: 77px;
  width: 1154px;
  margin: 15px 71px 0 61px;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  margin: 0 287px 0 61px;
}

.u-section-1 .u-custom-html-3 {
  min-height: 113px;
  width: 1154px;
  margin: 15px 71px 0 61px;
}

.u-section-1 .u-custom-html-4 {
  margin-bottom: 60px;
  margin-top: 235px;
  margin-left: calc(((100% - 1140px) / 2) + 259px);
  min-height: 348px;
  width: 772px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    margin-left: initial;
    margin-right: initial;
  }

  .u-section-1 .u-shape-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-custom-html-1 {
    width: 940px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-tabs-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    margin-right: 10px;
    margin-left: 0;
  }

  .u-section-1 .u-custom-html-2 {
    margin-right: 0;
    margin-left: 0;
    width: 940px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 2px;
    margin-left: 0;
  }

  .u-section-1 .u-custom-html-3 {
    margin-right: 0;
    margin-left: 0;
    width: 940px;
  }

  .u-section-1 .u-custom-html-4 {
    margin-left: calc(((100% - 940px) / 2) + 168px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-custom-html-1 {
    width: 720px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-custom-html-2 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-custom-html-3 {
    width: 720px;
  }

  .u-section-1 .u-custom-html-4 {
    margin-left: calc(((100% - 720px) / 2));
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-custom-html-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-custom-html-2 {
    width: 540px;
  }

  .u-section-1 .u-custom-html-3 {
    width: 540px;
  }

  .u-section-1 .u-custom-html-4 {
    margin-left: calc(((100% - 540px) / 2));
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-custom-html-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-custom-html-2 {
    width: 340px;
  }

  .u-section-1 .u-custom-html-3 {
    width: 340px;
  }

  .u-section-1 .u-custom-html-4 {
    margin-left: calc(((100% - 340px) / 2));
    width: 340px;
  }
}@font-face {
  font-family: 'calibri-bold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/calibri-bold.ttf);
}@font-face {
  font-family: 'calibri-regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/calibri-regular.ttf);
}