.b {
    background-color: hex;
}

.h {
    background-color: hex;
}

.sel {
    background-color: hex;
    opacity: variable 0-1;
    color: hex;
}

.se {
    background-color: hex;
    opacity: variable 0-1;
    color: hex;
}

.txt {
    color: hex;
}
/* Nie edytuj /*
h1, h2, h3, h4, h5, h6 {
    color: black;
}

p, span, small {
    color: #888;
}


hr {
    margin: 20px;
    background-color: #eaeaea;
}
