.b {
	background-image: url("https://raw.githubusercontent.com/PanDonut/pandonut.github.io/main/1223755.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.h {
	background-color: #000;
	opacity: 0.5;
}

.sel {
	background-color: #000;
	opacity: 0.6;
	color: #fff;
}

.se {
	background-color: #000;
	opacity: 0.4;
	color: #fff;
}

.txt {
	color: #fff;
}

h1, h2, h3, h4, h5, h6 {
	color: black;
}

p, span, small {
	color: #888;
}


hr {
	margin: 20px;
	background-color: #eaeaea;
}
